body {
    background-color: lightgrey;
}

.display {
    background-image: url("./backimg.jpg");
    background-position: center;
    width: 900px;
    height: 540px;
    margin: 0px auto;
}

.tools {
    background-image: linear-gradient(120deg, #99ffcc 0%, #0D9009 100%);
    /* background-position: 20px 20px; */
    width: 90px;
    height: 540px;
    vertical-align: top;
    text-align: center;
    float: left;
    font-family: fantasy;
    text-align: center;
    line-height: 30px;
    /* margin: 0px auto; */
}

.tools_2 {
    background-image: linear-gradient(120deg, #99ffcc 0%, #0D9009 100%);
    /* background-position: 20px 70px; */
    width: 90px;
    height: 540px;
    /* background-position: left; */
    vertical-align: top;
    text-align: center;
    float: right;
    font-family: fantasy;
    text-align: center;
    line-height: 25px;
}

#word {
    width: 80px;
}

#title {
    font-family: fantasy;
    font-size: 48px;
}

#TEXT {
    width: 80px;
}

#fonts {
    width: 80px;
}

#size {
    width: 80px;
}

.btm {
    background-color: gainsboro;
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

#t2 {
    background-color: lightgreen;
    width: 20%;
    height: 610px;
}

#logo {
    width: 220px;
    height: 60px;
}

.pen_ {
    cursor: url("http://files.softicons.com/download/internet-icons/dortmund-icons-by-pc.de/png/32/pen.png") 0 32, crosshair;
}

.eraser_ {
    cursor: url("http://files.softicons.com/download/application-icons/32x32-free-design-icons-by-aha-soft/png/32/Eraser.png") 0 32, crosshair;
}

.circle_ {
    cursor: url("http://files.softicons.com/download/toolbar-icons/vista-base-software-icons-2-by-icons-land/png/48x48/Circle_Grey.png") 0 32, crosshair;
}

.rectangle_ {
    cursor: url("http://files.softicons.com/download/application-icons/32x32-free-design-icons-by-aha-soft/png/32/Rounded%20rectangle.png") 0 32, crosshair;
}

.triangle_ {
    cursor: url("http://files.softicons.com/download/toolbar-icons/mini-icon-set-3-by-custom-icon-design/png/48x48/triangle-ruler-light.png") 0 32, crosshair;
}

.text_ {
    cursor: url("http://files.softicons.com/download/system-icons/snow-black-icons-by-sirubico/png/48x48/Text%20Edit.png") 0 32, crosshair;
}

.reset_ {
    cursor: default;
}

#fontsize {
    -webkit-appearance: none;
    background-color: #B2F758;
    width: 80px;
}

#n_fontsize {
    width: 80px;
}