canvas {
    border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: inline-block;
    width: 200px;
    color: white;
}

#drawingOptionArea {
    width: 380px;
}

#drawingOptionArea>div {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.options {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #878787;
}

span {
    color: #fff
}